In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/raw/adult.csv') # Chargement du dataset
df.head() # Affiche les 5 premières lignes du dataset

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

## Chargement du dataset

Le dataset Adult Census Income (UCI / Kaggle) est chargé depuis le dossier `data/raw`.
Les chemins relatifs sont utilisés afin de garantir la portabilité du projet.

On affiche les 5 premières lignes du dataset avec "df.head" pour voir à quoi ressemble le dataset, sans forcément afficher toutes les informations du fichier CSV.

In [ ]:
df.info() # Affiche les informations sur le dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.describe(include='all') # Affiche les statistiques descriptives du dataset

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

## Identification des valeurs manquantes

Dans ce dataset, certaines valeurs manquantes ne sont pas codées comme NaN mais par le caractère "?",
ce qui empêche leur détection automatique par pandas.

In [ ]:
df = df.replace('?', np.nan) # Remplace les "?" par NaN
df.isna().sum() # Affiche le nombre de valeurs manquantes dans chaque colonne

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

## Remplacement des valeurs manquantes

Les caractères "?" sont remplacés par NaN afin de permettre une gestion correcte
des valeurs manquantes lors des étapes suivantes.
Aucune imputation n’est réalisée à ce stade afin d’éviter toute fuite de données.

In [12]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
X = df.drop("income", axis=1) # Supprime la colonne "income"
y = df["income"] # Sélectionne la colonne "income" comme variable cible

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
) # Divise le dataset en ensembles d'entraînement et de test

In [ ]:
num_cols = X_train.select_dtypes(include=np.number).columns # Sélectionne les colonnes numériques

for col in num_cols:
    median = X_train[col].median() # Calcule la médiane de la colonne
    X_train[col] = X_train[col].fillna(median) # Remplace les NaN par la médiane
    X_test[col] = X_test[col].fillna(median)

In [ ]:
cat_cols = X_train.select_dtypes(exclude=np.number).columns # Sélectionne les colonnes catégoriques

for col in cat_cols:
    mode = X_train[col].mode()[0] # Calcule le mode de la colonne
    X_train[col] = X_train[col].fillna(mode) # Remplace les NaN par le mode
    X_test[col] = X_test[col].fillna(mode)

In [ ]:
X_train[num_cols].describe() # Affiche les statistiques descriptives des colonnes numériques

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,26048.000000,2.604800e+04,26048.000000,26048.000000,26048.000000,26048.000000
mean,38.530098,1.902764e+05,10.080505,1086.900683,88.575054,40.420531
std,13.628681,1.061438e+05,2.577431,7413.533054,406.506165,12.325439
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.179830e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.786600e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.381890e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
X_train_encoded = pd.get_dummies(X_train, drop_first=True) # Encode les colonnes catégoriques
X_test_encoded = pd.get_dummies(X_test, drop_first=True)

In [ ]:
X_train_encoded, X_test_encoded = X_train_encoded.align(
    X_test_encoded,
    join="left",
    axis=1,
    fill_value=0
) # Aligne les colonnes des ensembles d'entraînement et de test

In [ ]:
y_train = y_train.map({"<=50K": 0, ">50K": 1}) 
y_test = y_test.map({"<=50K": 0, ">50K": 1})

In [ ]:
scale_cols = ["age", "hours.per.week", "capital.gain", "capital.loss", "fnlwgt"] # Sélectionne les colonnes à normaliser

for col in scale_cols:
    mean = X_train_encoded[col].mean() # Calcule la moyenne de la colonne
    std = X_train_encoded[col].std() # Calcule l'écart-type de la colonne

    X_train_encoded[col] = (X_train_encoded[col] - mean) / std # Normalise la colonne
    X_test_encoded[col] = (X_test_encoded[col] - mean) / std # Normalise la colonne

In [ ]:
X_train_encoded.isna().sum().sum(), X_test_encoded.isna().sum().sum() # Affiche le nombre de valeurs manquantes dans chaque colonne

(np.int64(0), np.int64(0))

In [ ]:
X_train_encoded.shape, X_test_encoded.shape # Affiche les dimensions des ensembles d'entraînement et de test

((26048, 96), (6513, 96))

## Vérifications finales

Cette étape permet de vérifier :
- l’absence de valeurs manquantes après le prétraitement,
- la cohérence des dimensions entre les jeux d’entraînement et de test.
Le dataset est désormais prêt pour une phase d’analyse ou de modélisation.

In [ ]:
df.to_csv("../data/processed/adult_cleaned.csv", index=False) # Sauvegarde le dataset prétraité